.header {
    background-color: #020202;
    display: flex;
    justify-content: center;

}

.headerObj {
    display: flex;
    justify-content: space-between;
    padding: 0;
    width: 90%;
    text-align: center;
    margin: 0;
}

a {
    text-decoration: none;
    color: #fff;
    font-size: 1.2rem;
}

.logo {
    font-size: 24px;
}

.nav-links {
    list-style-type: none;
    display: block;
}

.nav-links li {
    display: inline-block;
    margin-left: 4rem;
    font-weight: bold;
}
.toggle-button {
    display: none; 
}


/* 토글 제대로 동작안함 */
@media (max-width: 600px) {
    .headerObj {
    }
    nav {
        display: flex;
        flex-direction: column;
    }
    .nav-links {
        display: block; 
        flex-direction: column;
    }

    .toggle-button {
        display: block; /* 토글 버튼 숨김 */
    }
}
